/*
#sidebar-fixed {
	position: fixed;
	overflow: hidden;
}
*/
#sidebar-fixed {
	overflow-y: auto;
}
#sidebar-image-external {
	height: 100%;
}
#sidebar-image {
	margin-left: auto;
	margin-right: auto;
	max-height: 100%;
}
#sidebar-content {
	color: white;
	font-weight: 600;
}
#sidebar-content ul li{
	list-style-type: none;
	line-height: 40px;
	padding-left: 20px;
}
ul {
	padding: 0px;
	margin-bottom: 0px;
}
.eventItem {
	//display: inline-block;
}
.eventItem:hover {
	background-color: #0099CC;
	cursor: pointer;
}
#close:hover {
	color: blue;
	cursor: pointer;
}
.hoverSidebarImage {
	cursor: pointer;
}