* {
	//outline: 1px solid red !important;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
}
div {
	margin: 0;
	padding: 0;
	border: 0;
}

.height {
	height: 100%;
}
.width {
	width: 100%;
}
.height-50p {
	height: 50%;
}
.height-max-50p {
	max-height: 50%;
}
.no-padding {
	padding: 0px;
}
.no-padding-top {
	padding-top: 0px;
}
.no-padding-right {
	padding-right: 0px;
}
.no-padding-bottom {
	padding-bottom: 0px;
}
.no-padding-left {
	padding-left: 0px;
}

.no-margin {
	margin: 0px;
}
.no-margin-top {
	margin-top: 0px;
}
.no-margin-right {
	margin-right: 0px;
}
.no-margin-bottom {
	margin-bottom: 0px;
}
.no-margin-left {
	margin-left: 0px;
}

.bg-red {
	background-color: red;
}
.bg-blue {
	background-color: blue;
}
.bg-green {
	background-color: green;
}
.bg-yellow {
	background-color: yellow;
}
